.container{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background: #FCF4E7;
    animation: fadeOut 0.5s ease-out forwards;
    overflow-y: scroll;
}
.open{
    animation-name: fadeIn;
}
.closeModal{
    transition: all 2s;
    visibility: hidden;
}
.formContainer{
    width: 25rem;
    margin: 0 auto;
}
.input{
    width: calc(100% - 1rem);
    background: white;
    margin-top: 2rem;
    padding: 0.5rem;
    border: 0.2rem solid black;
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem #000;
    font-size: 1.5rem;
    font-family: 'omyu_pretty';
    display: block;
}

.input:focus{
    outline: none;
    transform: translateY(0.3rem);
    box-shadow: 0 0px #000;
}
.submitBtn{
    width: 100%;
    margin-top: 3rem;
    background: #4995ED;
    color: white;
}
@keyframes fadeIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
.close{
    float: right;
    border: 0.2rem solid black;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2rem;
    font-size:2rem;
    border-radius: 0.8rem;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    box-shadow: 0.2rem 0.2rem #000;
    font-family: 'BMJUA';
}
.close:active{
    transform: translateY(0.2rem);
    box-shadow: 0 0px #000;
}