.LectureListContainer{
    width: 26rem;
    border: 0.2rem solid black;
    height: 30rem;
    overflow: scroll;
    margin: 0 auto;
    border-radius: 0.6rem;
    padding: 0.5rem;
    background: white;
    box-shadow: 0.3rem 0.3rem #000;
}
.weekPerLec{
    width: 26rem;
    background: white;
    margin: 0 auto;
    padding: 0.5rem;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem #000;
    border-radius: 0.6rem;
    border: 0.2rem solid black;
    margin-top: 2rem;
}
.weekInputContainer{
    float: left;
    width: calc(100%/7);
    text-align: center;
}
.weekInput{
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0.2rem 0.2rem #000;
    border: 0.2rem solid #000;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
.weekInput:focus{
    outline: none;
    transform: translateY(0.2rem);
    box-shadow: 0 0px #000;
}
.dayInfoContainer{
    width: 26rem;
    background: white;
    margin: 0 auto;
    padding: 0.5rem;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem #000;
    border-radius: 0.6rem;
    border: 0.2rem solid black;
    margin-top: 2rem;
}
.setPlanBtn{
    width: 27rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.planHeader{
    margin: 0 auto;
    font-size: 1.6rem;
    margin-top: 0rem;
    width: 26rem;
    font-weight: 900;
    padding: 0.5rem;
    overflow: hidden;
    margin-top:4rem;
    
}
.planType{
    float: left;
}